* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241,222,144);
    padding: 10px 20px;
    width: auto;
    height: 218px;
    margin-bottom: 124px;
    border: 2px solid black;
}

.logo {
    background-image: url(img/logoPC.png);
    width: 500px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -53px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease; /* Ajout pour la transition */
}

.menu-icon {
    display: flex;
    align-items: center;
}

.menu-label,
.menu-cb {
    appearance: none;
    z-index: 2;
}

svg {
    height: 50px;
    width: 50px;
    z-index: 2;
}

.menu-nav {
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    max-width: 550px;
    text-align: left;
    padding-top: 40px;
    background-color: white;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    overflow-y: auto;
}

.menu-item {
    padding: 20px;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 100px;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 54px;
}

.menu-item:hover {
    background-color: #f0f0f0;
    color: #333;
}

.menu-cb:checked ~ .menu-nav {
    transform: translateX(0);
}

.search-bar {

    max-width: 454px;
    border-radius: 35px;
    border: 2px solid black;
    margin-top: 60px;
    WIDTH: 30%;
    height: 46px;
    position: absolute;
    margin-left: -97px;
}

header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(241,222,144);
    transition: all 0.5s ease; /* Ajout pour la transition */
}


.Nouveautés{
    height: 45px;
    width: auto;
    margin-top: -50px;
    background-color: crimson;
}

header .menu-icon,
header .search-bar {
    flex: 0 0 auto;
}

.menu-cote {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 643px){
    .logo{
        background-image: url(img/MobileJKlogo.png);
        width: 50px;
        height: 9px;
        margin-top: -106px;
        padding: 88px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .search-bar {
        flex: 1;
        max-width: 454px;
        border-radius: 35px;
        border: 2px solid black;
        margin-top: 215px;
        height: 46px;
        width: 237px;
        margin-right: -84px;
    }
}


@media screen and (max-width: 1000px){

    .logo{
    background-image: url(img/logoPC.png);
    width: 500px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -41px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    }


}

@media screen and (max-width: 643px){
    .logo{
        background-image: url(img/MobileJKlogo.png);
        margin-top: -84px;
        margin-left: 91px;
        display: block;
        PADDING: 11%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    }

    @media screen and (max-width: 643px){
        .logo{
        background-image: url(img/MobileJKlogo.png);
        margin-top: -78px;
        margin-left: 15%;
        display: block;
        PADDING: 11%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    }

    @media screen and (max-width: 500px){
        .logo{
        background-image: url(img/MobileJKlogo.png);
        margin-top: -78px;
        margin-left: 66px;
        display: block;
        PADDING: 11%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .search-bar {
        flex: 1;
        max-width: 454px;
        border-radius: 35px;
        border: 2px solid black;
        margin-top: 57px;
        height: 41px;
        width: 27%;
        position: absolute;
        margin-left: -52px;
    }

    }



    .search-bar {
        flex: 1;
        max-width: 454px;
        border-radius: 35px;
        border: 2px solid black;
        margin-top: 60px;
        height: 46px;
        width: 27%;
        position: absolute;
        margin-left: -50px;

    }



    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(241, 222, 144);
        padding: 10px 20px;
        width: auto;
        height: 173px;
        margin-bottom: 124px;
        border: 2px solid black;
    }

    @media screen and (max-width: 469px){
        .logo{
            background-image: url(img/MobileJKlogo.png);
            margin-top: -78px;
            margin-left: 11%;
            display: block;
            PADDING: 11%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        }
    
        .search-bar {
            flex: 1;
            max-width: 454px;
            border-radius: 35px;
            border: 2px solid black;
            margin-top: 61px;
            height: 33px;
            width: 27%;
            position: absolute;
            margin-left: -50px;
        }
    
    
    
        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(241, 222, 144);
            padding: 10px 20px;
            width: auto;
            height: 159px;
            margin-bottom: 124px;
            border: 2px solid black;
        }

