* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241,222,144);
    padding: 10px 20px;
    width: auto;
    height: 218px;
    margin-bottom: 124px;
    border: 2px solid black;
}

.logo {
    background-image: url(img/logoPC.png);
    width: 500px;
    height: 125px;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease; /* Ajout pour la transition */
}

.menu-icon {
    display: flex;
    align-items: center;
}

.menu-label,
.menu-cb {
    appearance: none;
    z-index: 2;
}

svg {
    height: 50px;
    width: 50px;
    z-index: 2;
}

.menu-nav {
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    max-width: 550px;
    text-align: left;
    padding-top: 40px;
    background-color: white;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    overflow-y: auto;
}

.menu-item {
    padding: 20px;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 100px;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 54px;
}

.menu-item:hover {
    background-color: #f0f0f0;
    color: #333;
}

.menu-cb:checked ~ .menu-nav {
    transform: translateX(0);
}

.search-bar {
    flex: 1;
    max-width: 454px;
    border-radius: 35px;
    border: 2px solid black;
    margin-top: 215px;
    height: 46px;
    width: 460px;
    margin-right: -500px;
}

header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    transition: all 0.5s ease; /* Ajout pour la transition */

}


.Nouveautés{
    height: 45px;
    width: auto;
    margin-top: -50px;
    background-color: crimson;
}

header .menu-icon,
header .search-bar {
    flex: 0 0 auto;
}

.menu-cote {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}