.encadre{
    height: auto;
    height: 250px;
    background-color: beige;
}

.container img{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: -79px;
    margin-left: 10px;
}

.container{
    position:absolute;
}

.imageSwitch {
    height: 650px;
    width: 493px;
    background-color: black;
    margin-left: 223px;
    margin-top: -566px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageSwitch img {
    max-height: 100%;
    max-width: 100%;
    height: 488px;
    margin-top: -64px;
    border-radius: 15px;
    margin-left: 1px;
}

.container button{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 133px;
    width: auto;
    margin-left: 52px;
    margin-bottom: 6px;
}


.séparation{
    background-color: black;
    height: 522px;
    width: 3px;
    margin-left: 819px;
    margin-top: -589px;
}



.infoprod{
    width: 640px;
    height: 602px;
    background-color: white;
    border-color: black;
    border: white;
    border-radius: 15px;
    margin-left: 759px;
    margin-top: -631px;
}

.infoprod .buy{

    height: 337px;
    width: 784px;
    margin-left: 41px;
    margin-top: 442px;
    margin-bottom: -837px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
}

.infoprod .h1{
    font-size: 35px;
    margin-left: 15px;
    color: white;
}

.acheter .btn{
    height: 37px;
    width: 745px;
    border-radius: 30px;
    border: 2px solid black;
    inline-size: 291px;
    background-color: crimson;
    font-family: math;
    FONT-SIZE: 20px;
    margin-top: 517px;
    color: white;

}

.trait {
    height: 495px;
    background-color: black;
    width: 1px;
    margin-left: 1400px;
    margin-top: -524px;
}

.commande{
    border: 2px solid;
    border-radius: 15px;
    width: 401px;
    margin-top: -568px;
    margin-left: 1442px;
    height: 616px;
}

.Panier .btn{
    height: 37px;
    width: 745px;
    border-radius: 30px;
    border: 2px solid black;
    inline-size: 291px;
    background-color: coral;
    font-family: math;
    FONT-SIZE: 20px;
    color: white;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button img {
    width: 80px;
    height: auto;
}

.infoprod .text{
    font-size: 37px;
    margin-left: 119px;
}

.infoprod .DESC{
    font-size: 26px;
    margin-left: 47px;
    visibility: ;
    font-size: 20px;
}

@media screen (max-width: 643px){
    .commande{
    }
}